/* Start of global styles */
:root {
   /* Colors and font sizes go into these variables */
   --purple-violet: #502050;
   --cyclamen: #ee68a4;
   --mountbatten-pink: #937b92;
   --cultured: #f7f2f7;

   --font-xl: 2.875rem; /*font extra large 46px*/
   --font-nm: 0.9375rem; /*font normal 15px*/
   --font-sm: 0.8125rem; /*font small 13px*/
}

html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit; /* inherits from the HTML element*/
}

body {
   margin: 0;
   padding: 0;
   font-family: "Spartan", sans-serif;
}

h1,
h2,
h3,
p {
   margin: 0;
}

.container {
   margin: 0 auto;
   max-width: 90rem; /* 1440px */
   height: 50rem; /* 800px */
   padding: 7.8125rem 10.25rem 0; /* 125px 164px 0 164px */
   position: relative;
}
/* End of global styles */

/* Start of background image styles */
.top-img,
.bottom-img {
   position: absolute;
   z-index: -1;
}

.top-img {
   top: 0;
   left: 0;
}

.bottom-img {
   bottom: 0;
   right: 0;
}
/* End of background image styles */

/* Start of section 1 styles */
.section-1 {
   display: flex;
   margin-bottom: 4.5rem;
}

.section-1-text {
   max-width: 34.75rem;
}

.section-1-text h1 {
   font-size: var(--font-xl);
   font-weight: 700;
   color: var(--purple-violet);
   /* I set a width to the h1 and paragraph elements to
   get as close to the design as possible*/
   width: 80%;
   line-height: 3rem;
}

.section-1-text p {
   font-size: var(--font-nm);
   font-weight: 500;
   color: var(--mountbatten-pink);
   width: 88%;
   line-height: 1.5rem;
   margin-top: 0.8215rem;
}

.section-1-ratings {
   width: 100%;
}

.card {
   display: flex;
   align-items: center;
   max-width: 27.71875rem;
   padding: 1.15625rem 0 1.15625rem 2rem;
   background-color: var(--cultured);
   border-radius: 0.3125rem;
}

.card:first-child {
   margin-top: 0.9365rem;
}

.card:nth-child(2) {
   margin-left: 2.9375rem;
}

.card:last-child {
   margin-left: 5.875rem;
}

.card:not(:last-child) {
   margin-bottom: 0.9375rem;
}

.card-text {
   margin-left: 2rem;
}

.card-text p {
   font-size: var(--font-sm);
   font-weight: bold;
   color: var(--purple-violet);
}
/* End of section 1 styles */

.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}
