/* Start of global styles */
:root {
	/* Colors and font sizes go into these variables */
	--purple-violet: #502050;
	--cyclamen: #ee68a4;
	--mountbatten-pink: #937b92;
	--cultured: #f7f2f7;

	--font-xl: 2.875rem; /*font extra large 46px*/
	--font-nm: 0.9375rem; /*font normal 15px*/
	--font-sm: 0.8125rem; /*font small 13px*/
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit; /* inherits from the HTML element*/
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Spartan', sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
p {
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 90rem; /* 1440px */
	/* height: 50rem; 800px */
	padding: 7.8125rem 10.25rem 0; /* 125px 164px 0 164px */
	position: relative;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* End of global styles */

/* Start of background image styles */
.top-img,
.bottom-img,
.mobile-top-img,
.mobile-bottom-img {
	position: absolute;
	z-index: -1;
}

.top-img,
.mobile-top-img {
	top: 0;
	left: 0;
}

.bottom-img,
.mobile-bottom-img {
	bottom: 0;
	right: 0;
}
/* End of background image styles */

/* Start of section 1 styles */
.section-1 {
	display: flex;
	margin-bottom: 4.5rem;
}

.section-1-text {
	max-width: 34.75rem;
}

.section-1-text h1 {
	font-size: var(--font-xl);
	font-weight: 700;
	color: var(--purple-violet);
	/* I set a width to the h1 and paragraph elements to
   get as close to the design as possible*/
	width: 80%;
	line-height: 3rem;
}

.section-1-text p {
	font-size: var(--font-nm);
	font-weight: 500;
	color: var(--mountbatten-pink);
	width: 88%;
	line-height: 1.5rem;
	margin-top: 0.8215rem;
}

.section-1-ratings {
	width: 100%;
}

.card {
	display: flex;
	align-items: center;
	max-width: 27.71875rem;
	padding: 1.15625rem 0 1.15625rem 2rem;
	background-color: var(--cultured);
	border-radius: 0.5rem;
}

.card:first-child {
	margin-top: 0.9365rem;
}

.card:nth-child(2) {
	margin-left: 2.9375rem;
}

.card:last-child {
	margin-left: 5.875rem;
}

.card:not(:last-child) {
	margin-bottom: 0.9375rem;
}

.card-text {
	margin-left: 2rem;
}

.card-text p {
	font-size: var(--font-sm);
	font-weight: bold;
	color: var(--purple-violet);
}
/* End of section 1 styles */

/* Start of section 2 styles */

.reviews__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-left: -1.8rem;
	margin-bottom: -1rem;
	padding: 0;
	padding-bottom: 2rem;
	list-style: none;
}

.reviews__item {
	flex-grow: 1;
	max-width: calc(33.4% - 1.8rem);
	width: calc(33.3% - 1.8rem);
	margin-left: 1.8rem;
	margin-bottom: 1rem;
}

.reviews__item:nth-child(3n - 1) {
	transform: translateY(1rem);
}

.reviews__item:nth-child(3n + 3) {
	transform: translateY(2rem);
}

.review {
	padding: 2.6rem 2rem;
	color: var(--cultured);
	background-color: var(--purple-violet);
	border-radius: 0.5rem;
}

.review__header {
	display: flex;
	align-items: center;
	margin-bottom: 1.68rem;
}

.review__avatar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1.4rem;
	width: 40px;
	height: 40px;
	font-size: var(--font-nm);
	line-height: var(--font-nm);
	font-weight: 700;
	background-color: var(--mountbatten-pink);
	border-radius: 50%;
	overflow: hidden;
}

.review__avatar span {
	margin-top: 4px;
}

.review__avatar img {
	position: absolute;
	object-fit: cover;
}

.review__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.review__name {
	margin: 0;
	margin-bottom: 0.3rem;
	font-weight: 700;
	font-size: var(--font-sm);
}

.review__verified {
	font-size: var(--font-sm);
	letter-spacing: 0.01rem;
	color: var(--cyclamen);
	opacity: 0.8;
}

.review__body {
	font-size: var(--font-sm);
	line-height: 1.39rem;
	letter-spacing: -0.01rem;
}

/*
	I'd like give credit to Free Frontend for the hover effect on the links
	(https://freefrontend.com/css-link-styles/)
*/
.attribution {
	font-size: var(--font-sm);
	color: var(--purple-violet);
}

.attribution .link {
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	text-decoration: none;
	color: var(--cyclamen);
	font-weight: 500;
}

.attribution .link::before,
.attribution .link::after {
	position: absolute;
	width: 100%;
	height: 1px;
	background: var(--cyclamen);
	top: 100%;
	left: 0;
	pointer-events: none;
}

.attribution .link::before {
	content: '';
}
.attribution .link-fancy::before {
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.attribution .link-fancy:hover::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
	transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.attribution .link-fancy::after {
	content: '';
	top: calc(100% + 4px);
	transform-origin: 0% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.attribution .link-fancy:hover::after {
	transform-origin: 100% 50%;
	transform: scale3d(1, 1, 1);
	transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

/* End of section 2 styles */

/* Media queries */

@media (max-width: 1299px) {
	.container {
		padding: 7.8125rem 4rem 0;
	}

	.section-1-text {
		max-width: 28.75rem;
	}

	.card:nth-child(2) {
		margin-left: 1.4375rem;
	}

	.card:last-child {
		margin-left: 2.875rem;
	}
}

@media (min-width: 1024px) {
	.attribution {
		padding: 0.625rem 0;
	}
}

@media (max-width: 1024px) {
	.container {
		padding: 4.9375rem 1.5rem 0;
	}

	.reviews__item {
		flex-grow: 1;
		max-width: calc(50% - 1.8rem);
		width: calc(50% - 1.8rem);
	}

	.reviews__item:nth-child(3n - 1),
	.reviews__item:nth-child(3n + 3) {
		transform: translateY(0);
	}

	.reviews__item:nth-child(2n + 2) {
		transform: translateY(1rem);
	}
}

@media (max-width: 939px) {
	.section-1-text {
		max-width: 23.75rem;
	}

	.section-1-text h1 {
		font-size: 2.375rem;
	}

	.card:nth-child(2),
	.card:last-child {
		margin-left: 0;
	}
}

@media (max-width: 819px) {
	.section-1 {
		flex-direction: column;
		align-items: center;
		margin-bottom: 3.75rem;
	}

	.section-1-text,
	.card {
		max-width: 100%;
	}
	.section-1-text h1,
	.section-1-text p,
	.card {
		width: 100%;
		text-align: center;
	}

	.card {
		justify-content: center;
		padding-left: 0;
	}

	.section-1-text p {
		width: 100%;
		padding: 0 1.75rem;
	}

	.section-1-text {
		text-align: center;
	}

	.reviews__item {
		flex-grow: 1;
		max-width: 100%;
		width: 100%;
	}

	.reviews__item:nth-child(2n) {
		transform: translateY(0);
	}

	.attribution {
		text-align: center;
		line-height: 24px;
		padding-bottom: 10px;
	}
}

@media (min-width: 550px) {
	.hide-for-large {
		display: none;
	}
}

@media (max-width: 549px) {
	img.mobile-top-img {
		width: 100%;
	}

	.hide-for-small {
		display: none;
	}

	.section-1 {
		margin-bottom: 3rem;
	}

	.section-1-text h1 {
		font-size: 2rem;
		letter-spacing: -1px;
		line-height: 2rem;
	}

	.section-1-text p {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 105%;
		margin-top: 1.25rem;
		padding: 0;
	}

	.card {
		flex-direction: column;
		justify-content: center;
	}

	.card:first-child {
		margin-top: 2.625rem;
	}

	.card-stars img:not(:last-child) {
		margin-right: 0.375rem;
	}

	.card-text {
		margin: 0.75rem 0 0 0;
		width: 100%;
	}
}

/* End of media queries */
